html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #d3c096
}

.icon_skill1{
    margin: 7px;
}

#global {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.skill_max{
    max-width: 400px;
}

#side {

    width: 200px;
    background-color: #a28671;
}


.case {
    display: inline-flex;
    flex-flow: row wrap;
    margin-bottom: -4px;
    margin-right: -5px;
}

#p1,
#p2,
#p3,
#p4 {
    width: 100px;
    height: 100px;
}

.subtitle {
    background-color: #e15342;
    height: 35px;
    width: 0%;
    display: flex;
    flex-direction: row;
    overflow: visible;
    margin-bottom: 10px;
    box-shadow: 2px 2px;
    z-index: 4;
}

h3 {
    color: white;
}

p,
li,
tr,
.hidden {
    display: none;
}

.minico{
	width: 20px;
}

a:hover{
	color: #c95057;
}

.bigbubule{
	width: 300px;
	padding: -10px;	
	text-align: left;
	padding: -100%;
}

.nomarges{
    padding-right: 0px;
}

.divContent {
    width: 94%;
    height: 0px;
    margin-left: 2%;
    padding: 15px;
    margin-top: -10px;
    margin-bottom: 50px;
    background-color: #efddb7;
    box-shadow: 2px 2px;
    z-index: 3;
}


.pastille {
    height: 0px;
    width: 0px;
    margin-top: -10px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #eca328;
    box-shadow: 2px 2px;
}

.lunettes {
    height: 25px;
    width: 100px;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 50px;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.mid {
    margin-top: 25px;
    margin-left: -20px;
    margin-right: -20px;
}

.middleicon {
    padding-left: 20%;
    width: 355px;
}

#info {
	margin-left: -20px;
}

#general {
    height: 100%;
}

#title {
    width: 700px;
    height: 90px;
    background-color: yellow;
    vertical-align: center;
}

#corp {
    width: 200px;
    z-index: 1;
    top: 0px;
    margin-top: 1%;
    margin-bottom: -99%;
    border-radius: 200px;
    background-color: #c95057;
    box-shadow: 5px 5px;
}


.innerSkill {
    transform: rotate(-45deg);
    color: white;
    text-align: center;
}

.coeur {
    height: 50px;
    width: 50px;
    margin: 10px;
    transform: rotate(45deg);
}

.moins {
    margin-top: 15px;
	margin-left: -15px;
    margin-right: -15px;
}

a {
    color: black;
}

.logosimplon{
	width: 75px;
	margin-top: -5px;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #e15342;
    width: 48px;
    height: 48px;
    margin: 10px;
    margin-top: 20%;
    border-radius: 100%;

}

.carou {

    margin-bottom: 10px;
    width: 94%;

    margin-left: 2%;
    padding: 15px;
    margin-top: -10px;
    background-color: #efddb7;
    box-shadow: 2px 2px;
    z-index: 3;
}



.dropdown-menu{
	background-color: rgba(117, 190, 218, 0.0);
	border: none;
    text-align: center;
    background-color: #fdcb2e;
    border: solid;
    border-width: 20px;
    border-color: #fdcb2e;
    padding-top: 10%;
    box-shadow: 3px 3px;
}


h3,
.skill,
.coeur {
    display: none;
}

@media (max-width: 700px) {

    .nomarges{
        padding: 0px;
    }

    #page {
        flex-direction: column;
    }
    #side {
        width: 100%;
        height: 200px;
    }
    #corp {
        margin: 0px;
    }

    #info {
        position: absolute;
        top: 20px;
        left: 200px;
    }

    #p1 {
        width: 100px;
        height: 100px;
        position: relative;
        margin-top: -400px;
        top: 40px;
        left: 0px;
    }
    #p2 {
        width: 100px;
        height: 100px;
        position: relative;
        margin-top: -400px;
        margin-left: -100px;
        top: 40px;
        left: 100px;
    }

    #p3 {
        width: 100px;
        height: 100px;
        position: relative;
        margin-top: -400px;
        margin-left: -98px;
        top: 140px;
        left: 0px;
    }

    #p4 {
        width: 100px;
        height: 100px;
        position: relative;
        margin-top: -400px;
        margin-left: -100px;
        top: 140px;
        left: 100px;
    }

    .lunettes {
        top: 85px;
    }

    h3 {
        margin-top: 3px;
        font-size: 1em;
    }

    td,
    p,
    li {
        margin-top: 5px;
        font-size: 13px;
    }

    .middleicon {
        padding-left: 0px;
    }
}





.js {
    background-color: #fdcb2e;
}

.css {
    background-color: #3081b8;
}

.php {
    background-color: #7561c2;
}

.sql {
    background-color: #4e6297;
}

.pg {
    background-color: #a28671;
}

.ps {
    background-color: #4e6297;
}

.ai {
    background-color: #fdcb2e;
}

.id {
    background-color: #9257ab;
}

.w {
    background-color: #8d9c9d;
}

.dark {
    color: black;
}